<div class="card">
  <div class="card-block">
    <h4 class="card-title p-2">{{list.title}}</h4>
    <p class="card-text  px-2 pb-2">{{list.description}}</p>
  </div>
  <ul class="list-group list-group-flush" *ngFor="let listItem of list.tasks">
    <li class="list-group-item">
      {{listItem}}
    </li>
  </ul>
  <div class="card-block">
      <pre>{{closeResult}}</pre>
  </div>
  <div class="card-footer d-flex flex-row  justify-content-between align-items-center">
    <a class="text-danger" >Delete</a>
    <a class="btn card-link btn-outline-primary" (click)="onEdit(index)">Edit</a>
  </div>
</div>
