<p class="display-4 text-center align-middle">Sign<strong>up</strong></p>

<form class="clearfix">
  <div class="form-group">
    <label for="sigininEmail" class="form-label">Email</label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="sigininEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="sigininPassword" class="form-label">Password</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="sigininPassword" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <div class="text-center align-middle">
      <button type="button" class="btn btn-lg btn-primary">Sign<strong>up</strong></button>
    </div>
  </div>
</form>