<div class="modal-content card">
  <form [formGroup]="listForm" (ngSubmit)="save()">
    <div class="modal-header card-block">
      <input id="title" type="text" class="form-control form-control-lg mr-4" [value]="listTitle" placeholder="list title" formControlName="title">
      <button type="button" class="close align-top" aria-label="Close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body card-block">
      <!-- <div class="form-group">
      <label for="title">List Title</label>
      <input id="title" type="text" class="form-control form-control-lg" [value]="list.title" placeholder="list title">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div> -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="discription" class="lead">Discription</label>
            <textarea [value]="listDescription" class="form-control" id="discription" formControlName="discription">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="New Task">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="addTask()">add</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" *ngIf="id != null" formArrayName="tasks">

          <div class="row" *ngFor="let listtask of listForm.get('tasks').controls; let i = index" [formGroupName]="i">
              <div class="col-12" >
                  <div class="row mb-1">
                      <div class="col-12">
                        <div class="input-group">
                          <input type="text" class="form-control"
                          placeholder="New Task"
                          formControlName="task"
                          >
                          <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                              &times;
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div>
      <div class="modal-footer card-footer d-flex flex-row  justify-content-between align-items-center">

        <button type="button" class="mr-auto btn btn-outline-dark" (click)="hide()">Close</button>
        <button type="button" class="mr-2 btn btn-outline-danger" (click)="delete()">Delete</button>
        <button type="submit" class="mr-2 px-4 btn btn-outline-success">Save</button>

      </div>
    </div>
  </form>
</div>