/* You can add global styles to this file, and also import other style files */

body{
    height: 100%;
    width: 100%;
    display: block;
    /* background: url("https://hdqwalls.com/wallpapers/hex-abstract-material-design-ad.jpg") no-repeat center center fixed; */
    background: url("assets/Mountain.jpg") no-repeat center center fixed;
    background-size: cover;
}
